/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #1e1e1e;
    font-family: serif;
}

/* MAIN CONTAINER */
.container {
    width: 1200px;
    margin: 0 auto;
    background: #d9d9d9;
}

/* NAVBAR */
.header {
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 90px;
}

/* COLLECTION */
.collection {
    padding: 50px;
    text-align: center;
}

.collection h2 {
    margin-bottom: 40px;
}

/* GRID SYSTEM */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

/* CARDS */
.card {
    height: 120px;
    background: #bfbfbf;
}